<template>
  <WorkForm :initWork="work"></WorkForm>
</template>

<script>
  import axios from 'axios';
  import WorkForm from '../components/WorkForm';
  export default {
    name: 'WorkPage',
    components: {
      WorkForm
    },
    data() {
      return {
        work: {}
      }
    },
    async created() {
      const id = this.$route.params.id;
      if(id) {
        const result = await axios.get('http://kvadrim.tih.su/api/work/' + id);
        this.work = result.data.work;
      }
    }
  };
</script>

<style scoped>

</style>
