<template>
  <div class="menu">
    <ul>
      <li><router-link to="/admin/stages">Stages</router-link></li>
      <li><router-link to="/admin/works">Works</router-link></li>
      <li><router-link to="/admin/materials">Materials</router-link></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Menu',
};
</script>

<style scoped>
  .menu a{
    font-family: Arial;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  .menu a.router-link-active {
    font-weight: bold;
    color: #8b8b8b
  }
  .menu ul {
    list-style-type: none;
  }
  .menu li {
    margin:10px 0px;
  }
</style>
